<% include ./partials/header %>
    <h1>list of tickets</h1>
    <% if (pageCount > 1) { %>
        <ul class="pagination">
            <% if (currentPage > 1) { %>
                <li><a href="/results/?page=1">&laquo; </a> </li>
            <% } %>

            <% var i = 1; %>
            <%if (currentPage > 5) { %>
                <% i = currentPage %>
                <% i = i - 4; %>
            <% } %>

            <% if (i !== 1) { %>
                <li class="disabled"><a href="#">…</a></li>
            <% } %>

            <% for (i; i <= pageCount; i++) { %>
                <% if (currentPage == i) { %>
                    <li class="active"><span>
                        <%= i %> <span class="sr-only">(current)</span></span></li>
                <%} else { %>
                    <li><a href="/results/?page=<%= i %>"><%= i %></a></li>
                <% } %>

                <% if (i == (+currentPage + 4)) { %>
                    <li class="disabled"><a href="#">…</a></li>
                    <% break; %>
                <% } %>
            <% } %>

            <% if (currentPage != pageCount) { %>
                <li><a href="/results/?page=<%=pageCount %>">&raquo;</a></li>
            <% } %>
        </ul>
        <% } %>
    <table>
        <thead>
            <td>id</td>
            <td>ticket status</td>
            <td>subject</td>
            <td>opened by</td>
            <td>created at</td>
        </thead>
        <tbody>
            <% tickets.forEach(function(ticket) { %>
                <tr>
                    <td><%= ticket['id'] %></td>
                    <td><%= ticket['status'] %></td>
                    <td><%= ticket['subject'] %></td>
                    <td><%= ticket['submitter_id'] %></td>
                    <td><%= ticket['created_at'] %></td>
                    <td><a href="/results/<%= ticket['id'] %>">details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% include ./partials/footer %>