<% include ./partials/header %>

<h1>Ticket Details</h1>
<p>Requestor: <%= ticket['ticket']['requester_id'] %></p>
<p>Created at: <%= ticket['ticket']['created_at'] %></p>
<p>Status: <%= ticket['ticket']['status'] %></p>
<p>Priority:
    <% if(ticket['ticket']['priority']) { %>
        <span><%= ticket['ticket']['priority']%></span>
    <% } else { %>
        <span>N/A</span>
    <% }%>
</p>
<p>Assigned to: <%= ticket['ticket']['assignee_id'] %></p>
<br>
<p><strong>Subject: </strong><%= ticket['ticket']['subject'] %></p>
<p><strong>Description: </strong><%= ticket['ticket']['description'] %></p>
<div>
    <a href="/tickets">Back to all tickets</a>
</div>

<% include ./partials/footer %>